#navbar {
  position: fixed;
  background-color: var(--primary-color);
  transition: width 250ms ease;
}

#navbar-list {
  height: 100%;
  width: 100%;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.navbar-item a:hover {
  background: var(--background-color);
}
.navbar-item a:hover p,
.navbar-item a:hover svg {
  fill: var(--primary-color);
  color: var(--primary-color);
}
.navbar-item a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.navbar-item a p {
  transition: 250ms ease-out;
  /*display: none;*/
  color: var(--background-color);
  /*font-size: 1.2rem;*/
  font-size: 0px;
  font-weight: 600;
}
.navbar-item svg {
  margin: 1rem;
  fill: var(--background-color);
}
@media (min-width: 720px) {
  #navbar {
    top: 0;
    left: 0;
    width: 5rem;
    height: 100vh;
  }
  #navbar-list {
    flex-direction: column;
    justify-content: space-around;
  }
  #navbar:hover {
    width: 16rem;
  }
  #navbar:hover #navbar-list a {
    padding-left: 1rem;
    justify-content: flex-start;
  }
  #navbar:hover #navbar-list p {
    display: block;
    font-size: 1.2rem;
  }
  .navbar-item {
    margin: 1rem 0px;
  }
  .navbar-item svg {
    margin: 1rem 0.5rem;
    font-size: 3rem;
  }
  .navbar-item:last-child {
    margin: auto 0px 0px;
  }
  .navbar-item:last-child svg {
    margin: 0.5rem;
  }
  .navbar-item:first-child {
    display: inline;
    margin: 0px 0px auto 0px;
    height: 4rem;
  }

  .navbar-item:first-child a svg {
    margin: 1rem 0.5rem;
  }
  .navbar-item:first-child a p {
    margin: 1rem 0;
  }
}
@media (max-width: 720px) {
  #navbar {
    bottom: 0;
    height: 5rem;
    width: 100vw;
    align-content: center;
  }
  #navbar-list {
    max-width: 99vw;
    justify-content: space-around;
    align-content: center;
  }
  .navbar-item a {
    height: 100%;
  }
  .navbar-item:first-child {
    display: none;
  }
}
