#projects-list {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

.projects-list-item {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--primary-color);
  border-radius: 0.5rem;
  padding: 2rem 1rem;
  margin: 1rem 0.5rem;
}
.projects-list-item:hover .projects-list-item-logo {
  transition: 100ms ease;
  width: 13rem;
  margin: 0px;
}
.projects-list-item-title {
  text-shadow: -1px 0 var(--background-color), 0 1px var(--background-color),
    1px 0 var(--background-color), 0 -1px var(--background-color);
  text-align: center;
  margin: 0.5rem 0;
}
.projects-list-item-logo {
  display: flex;
  justify-items: center;
  align-content: center;
  width: 12rem;
  height: 12rem;
  margin: 0px 0.5rem;
}
.projects-list-item-logo img {
  width: 100%;
  height: auto;
  margin: auto;
  border-radius: 0.5rem;
}
.modal a {
  margin-top: auto;
}
.modal .modal-content button.modal-close-btn {
  margin-top: 0;
}
.modal-content {
  white-space: pre-wrap;
}

.modal .modal-content {
  height: 15rem !important;
}

@media (max-width: 48rem), (max-height: 30rem) {
}
